{
  "presets": [
    ["env", {
      "loose": true,
      "targets": {
        "browsers": ["last 2 versions", "ie >= 8"],
      },
    }],
    "flow",
    "react",
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "add-module-exports",
  ],
}
